body {
    display: flex;
    flex-direction: column;
    font-family: "Ubuntu", serif;
    font-size: 16px;
    justify-content: space-between;
    margin: 0;
    min-height: 100vh;
}

body > * > * {
    margin: 0 20%;
}

nav {
    display: flex;
}

nav ul {
    display: flex;
}

button {
    border: 1px solid #FFF;
    border-radius: 4px;
}

button,
.action-call {
    background-color: #3882F6;
    color: #FFFFFF;
}

hgroup {
    display: flex;
}

figure {
    border: 3px solid #498bf6;
}

footer {
    background-color: #1F2937;
    color: #F9FAF8;
}

img.hero-img {
    height: 225px;
    width: 525px;
}

div.hero-message {
    display: flex;
    flex-direction: column;
}

div.section-hero {
    background-color: #1F2937;
    color: #F9FAF8;
}

div.action-call {
    display: flex;
    border-radius: 8px;
    margin: 6.25rem;
}

div.randinfo-images {
    display: flex;
}

hgroup.button-hero {
    border: none;
}

figure {
    border-radius: 6px;
    height: 12rem;
    width: 12rem;
}

nav {
    display: flex;
    align-items: center;
}

nav ul {
    list-style: none;
    margin: 0 0 0 auto;
}

nav ul li {
    height: 1rem;
}

nav ul li a {
    margin: 0 0 0 2rem;
}

section {
    margin: 1rem;
}

.quote {
    background-color: #E5E7EB;
}